@font-face {
  font-family: 'Monoton-Regular';
  src: url(../fonts/Monoton-Regular.woff);
}

@font-face {
  font-family: 'Electrolize-Regular';
  src: url(../fonts/Electrolize-Regular.woff);
}

@font-face {
  font-family: 'Aclonica-Regular';
  src: url(../fonts/Aclonica-Regular.woff);
}

@font-face {
  font-family: 'Karla-Regular';
  src: url(../fonts/Karla-Regular.woff);
}
